.button {
    height: 52px;
    border-radius: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: white;
  }
  .button-black {
    width: 146px;
    background: #000000;
    border: 1px solid #ffffff;
  }
  .button-colorful {
    width: 181px;
    background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
    border: 1px solid #000000;
  }
  