.partners {
    color: #618adc;
    margin: auto;
    margin-bottom: 120px !important;
    h6 {
      font-weight: 400;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.8px;
    }
    img {
      width: 100%;
    }
  }